.dropdown-item:hover {
    color: white ;
    background-color: #3b82f6;
}
.dropdown-item {
    padding: 10px;
}
.dropdown-item.active {
    color: white ;
    background-color: #3b82f6;
}
.dropdown-btn {
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
}
.dropdown-btn > *{
    pointer-events: none;
}
.dropdown-list {
    position: absolute;
    bottom: -0%;
    left: 0;
    right: -10px;
    transform: translateY(105%);
    display: none;
    max-height: 16rem;
    overflow: auto;
}
.dropdown-list > * {
    text-align: left;
    padding: 2.5px 10px;
    border-bottom: 1px solid rgba(0,0,0, 0.5);
    margin: 2.5px 0;
}
.dropdown-list > *:last-child {
    border-bottom: none;
}
.dropdown-list > *:is(:hover, :focus) {
    background-color: #0c6bff;
    color: #fff;
}
.dropdown-list * {
    cursor: pointer;
}
.dropdown-list a {
    display: block;
}
.dropdown-list.shown {
    display: block;
}
